/* build style custom  all page */
.brand-text{
  color: #FDB813;
}

/* background all style */
.bg-custom{
    background: rgb(248, 250, 252) !important;
}

/* datatable style */

.on-click{
  cursor: pointer;
}
table.table-custom thead{
    background: #ddd;
    color:#000;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    z-index: 3;
    color: rgb(255, 255, 255);
    cursor: default;
    background-color: #256139 !important;
    border-color: #256139 !important;
}

.page-link{
  color: rgb(37, 97, 57);
}
.page-link:hover{
  z-index: 2;
  color: rgb(37, 97, 57) !important;
  text-decoration: none;
  background-color: rgb(233, 236, 239);
  border-color: rgb(222, 226, 230);
}

/* button style custom */
.btn-custom{
    color: rgb(255, 255, 255);
    background-color: #FDB813;
    border-color: #FDB813;
}
.btn-title-custom,.btn-submit-custom{
    color: rgb(255, 255, 255);
    background-color: #256139;
    border-color: #256139;
}

/* nav bar custom */
.sidebar-light-warning .nav-sidebar > .nav-item > .nav-link.active{
    /*color: rgb(245, 195, 43);*/
    background-color: #46A941;
    color: #202020;
}

.sidebar-light-warning .nav-sidebar > .nav-item .nav-link:hover{
  background-color: #00914E;
  color: #202020;
}

.sidebar-light-warning .sidebar a{
  color: #FDB813;
}

.widget-user .widget-user-username{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-user-username{
  color: #FDB813;
}

/* card custom style */
.card-custom:not(.card-outline) .card-header{
    background-color: #597A21;
    border-bottom: 0;
}
.card-info-footer{
    font-size: 0.85em;
    background-color: #46A941;

}

.card-info-footer a{
  color: #202020 !important;
}

/* a style custom/ */
a{
    color: rgb(43, 92, 54);
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: rgb(255, 193, 7);
    text-decoration: none;
    background-color: transparent;
}

/* dashboard  */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: rgb(255, 255, 255);
    background-color: #256139;
}

.nav-pills .nav-link.actives, .nav-pills .show > .nav-link{
  color: rgb(0, 0, 0) !important;
  background-color: #61a176;
}
.nav-pills .nav-link:not(.active):hover{
    color:rgb(255, 193, 7);
}

.sidebar-light-warning .nav-treeview > .nav-item > .nav-link{
  color:rgb(255, 193, 7);
}




/* step bar */
.progressbar {
    width: 100%;
    margin: 20px auto;
    /* padding-left: 100px; */
    text-align: center;
  }
  .progressbar .circle,
  .progressbar .bar {
    display: inline-block;
    /* background: #fff; */
    /* width: 16%; */
    height: auto;
    /* border-radius: 50%; */
    /* border: 1px solid #d5d5da; */
    vertical-align:top;
  }
  .progressbar .bar {
    position: relative;
    width: 110px;
    height: 6px;
    margin: 0 -5px 17px -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    top:25px;
    vertical-align:top
  }
  .progressbar .circle .label {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .progressbar .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 18px;
    /* margin-left: 30px; */
    text-align: center;
    display: block;
    width: 100px;
    margin-top: 5px;
  }
  /* Done / Active */
  
  .progressbar .bar.done,
  .progressbar .circle.done {
    /* background: #eee; */
  }
  .progressbar .bar.active {
    background: linear-gradient(to right, rgb(19, 194, 97) 40%, rgb(16, 214, 16) 60%);
  }
  .progressbar .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  }
  .progressbar .circle.done .title {
    color: #444;
  }
  .progressbar .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  }
  .progressbar .circle.active .title {
    color: #0c95be;
  }
  
  